
/*============================================================================
BODY 
============================================================================*/

body {
	background-color: $col-light;
}

/*============================================================================
HEADER
============================================================================*/
header {
}

.header__nav--main {
	background-color: $col-main;
}

/*============================================================================
MAIN SECTION 
============================================================================*/
main {
	li {
		background-color: $col-main;
	}
	p {
				a{
			color: $col-light;
			background-color: $col-link;
		}
	}
}

/*============================================================================
FOOTER
============================================================================*/

footer {
	background-color: $col-main;
}







