
/*============================================================================
GENERAL 
============================================================================*/

main {
  @include mq($bp-large) {
    width: 80%;
    margin: 0 auto;
  }
}

h2 {
  margin-bottom: 1.5rem;
}

legend {
  display: none;
}

a.inline-link {
}


// form select resetter
select {
  border: none;
  border-radius: 0;
}

p {
  font-size: 1.6rem;
}



/* HEADER
============================================================================*/

header {
  position: relative;
  padding: 4rem 0;
  text-transform: uppercase;
  margin-bottom: 5rem;

  @include mq($bp-med) {
    padding: 2rem;
  }

  h1 {
    text-align: center;
    height: auto;
    margin: 0 auto 3rem;

    @include mq($bp-med) {
      display: inline-block;
      width: 50%;
    }

    a {
    }

    img {
      width: 37%;
      height: auto;

      @include mq($bp-small) {
        width: 20%;
      }

      @include mq($bp-med) {
        display: none;
      }
    }

    strong {
      display: block;

      @include mq($bp-med) {
        font: 0/0 a;
        color: rgba(255, 255, 255, 0);
        width: 50%;
        height: 0;
        padding-top: 10%;
      }
    }
  }

  .buttons--signin {
    width: 100%;

    @include mq($bp-small) {
      width: 80%;
      margin: 0 auto;
    }

    @include mq($bp-med) {
      display: inline-block;
      width: 50%;
      position: initial;
      right: initial;
      top: initial;
      transform: initial;
      text-align: right;
    }
    
    li {
      @include mq($bp-med) {
        display: inline-block;
        width: calc(50% - 1rem);
      }
    }
  }
}


/* FOOTER
============================================================================*/

footer {
  text-align: center;
  padding: 3rem 0;
  .copyright {
    
  }

  .eula {

    a {

    }
  }
}


/*============================================================================
INDEX 
============================================================================*/


/* WIKING FINDER
============================================================================*/

.wiking-finder {
  max-width: 54rem;
  margin: 0 auto 35rem;
  position: relative;
}

.form-search {
  padding-bottom: 3rem;

  

  @include mq($bp-small) {
    padding: 0 3rem 8rem;
  }

  h2 {
    margin-bottom: 2rem;
    padding: 2rem 3rem;

    @include mq($bp-small) {
      margin: 0 -3rem 2rem;
    }
  }

  .form-search__field {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;

    @include mq($bp-small) {
      padding: 1rem 2rem;
    }

    label {
      padding-left: .5rem;
      margin-bottom: 2rem;
    }

    input {
      padding: 1rem 1rem 1rem 2rem;
      border: none;
      border-radius: 2.5rem;
    }
  }
}

.results--languettes {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 25rem;
  transform-origin: 0% 100%;
  transform:rotate(-90deg)
            translateX(calc(-100% - 1rem))
            translateY(100%);


  .languette {
    display: block;
    padding: 2rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  //showing the right amount of languettes per screen width

  .hidden {
    display: none;
  }

  @include mq($bp-small) {
    .show-small {
      display: block;
    }
  }

  @include mq($bp-med) {
    .show-med {
      display: block;
    }
  }

  // @include mq($bp-large) {
  //   .show-large {
  //     display: block;
  //   }
  // }

  // @include mq($bp-xl) {
  //   .show-xl {
  //     display: block;
  //   }
  // }
}



/* DEFINITION
============================================================================*/

.definition {
  padding: 2rem .5rem;
  margin-bottom: 8rem;

  dfn {

  }

  @include mq($bp-small) {
    padding: 2rem 3rem;
  }

  p {
    a {
    }
  }
}


/* ALL RESULTS
============================================================================*/

.results--more {

  @include mq($bp-large) {
    width: 75%;
    margin: 0 auto;
  }

  h2 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .results_vignette {
    position: relative;
    padding-bottom: 2rem;

    @include mq($bp-small) {
      margin-bottom: 2rem;
      padding-bottom: 4rem;
    }

    p {
      padding: 1rem;
    }

    .results__name {
      display: block;

      @include mq($bp-small) {
        display: inline;
      }
    }

    @include mq($bp-small) {
      display: inline-block;
      width: calc(50% - 1rem);

      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }

    @include mq($bp-med) {
      display: inline-block;
      width: calc(33.333% - 1.333rem);
      margin-right: 2rem;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  img {
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    @include mq($bp-small) {
      display: initial;
    }
  }
}


/*============================================================================
SIGNUP PAGE 
============================================================================*/


.form--signup {
  padding: 2rem 2rem 5rem;
  max-width: 52rem;
  margin: 0 auto;

  .form--signup__field {
    padding: 2rem 1rem; 
    margin-bottom: 2rem;
    input {
      border: none;
    }
  }

}


/*============================================================================
MEMBER SEARCH 
============================================================================*/

.id-card,
.vehicles,
.comments h2,
.comments__post {

  @include mq($bp-small) {
    width: 70%;
    margin: 0 auto 3rem;
  }
}

.id-card,
.vehicles {

  @include mq($bp-large) {
    display: inline-block;
  }
}

.id-card {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;

  @include mq($bp-large) {
    width: 25%;
  }

  img {
    width: 40%;
    height: auto;
    margin-bottom: 2rem;

    @include mq($bp-large) {
      float: initial;
      margin: 0 2rem 2rem 0;
      width: 50%;
    }
  }
}


.vehicles {
  margin-bottom: 3rem;

  @include mq($bp-large) {
    width: 70%;
  }

  li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;

    @include mq($bp-med) {
      width: calc(50% - 1rem);

      &:nth-child(odd) {
        margin-right: 2rem;      
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.comments {
  padding: 0 1rem 1rem;

  .comments__post {

    img {
      width: 20%;
      height: auto;
    }
    p {
      padding: 1rem;
      padding-left: 20%;
    }
  }
}









