
body {
  //background-color: $sec-col;
}

main {
  @include mq($bp-large) {
    width: 80%;
    margin: 0 auto;
  }
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

legend {
  display: none;
}

a.inline-link {
  color: $action-col; 
}

/*============================================================================
INDEX 
============================================================================*/



/* HEADER
============================================================================*/

header {
  position: relative;
  padding: 4rem 0;
  background-color: $main-col;
  text-transform: uppercase;

  h1 {
    text-align: center;
    max-width: 120px;
    width: 100%;
    height: auto;
    margin: 0 auto 1rem;

    a {
      color: #fff;
    }

    img {
      width: 100%;
      height: auto;
    }

    strong {
      display: block;
    }
  }

  .buttons--signin {
    width: 100%;

    @include mq($bp-small) {
      width: 80%;
      margin: 0 auto;
    }
  }


  @include mq($bp-med) {
    h1,
    .buttons--signin {
      display: inline-block;
    }

    h1 {
      //width: 25%;
      // float: left;
    }

    .buttons--signin {
      position: absolute;
      right: 0;
      //width: 40%;
      // float: right;
    }
  }
}


/* WIKING FINDER
============================================================================*/

.wiking-finder {
  max-width: 54rem;
  margin: 0 auto;
}

.form-search {
  display: block;
  position: relative;
  margin-top: 3rem;
  padding: 0 3rem 4rem;
  background-color: $sec-col;

  h2 {
    margin: 0 -3rem 2rem;
    padding: 2rem 3rem;
    background-color: $main-col;
    color: #fff;

  }

  .form-search__field {
    display: inline-block;
    width: 100%;
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #fff;

    input {
      border: none;
    }
  }
}

.results--languettes {
  margin: 0 auto;
  transform: rotate(-90deg);
  transform-origin: 40% 45%;
  width: 200px;


  .languette {
    background-color: $sec-col;
    display: block;
    padding: 2rem;
    width: 100%;
  }
}

/* DEFINITION
============================================================================*/

.definition {
  background-color: $main-col;
  color: #fff;
  padding: 2rem 3rem;
  margin-bottom: 2rem;

  p {

    a {
      color: $contr-col;
    }
  }
}


/* ALL RESULTS
============================================================================*/

.results--more {

  @include mq($bp-large) {
    width: 75%;
    margin: 0 auto;
  }

  .results_vignette {
    position: relative;
    padding: 2rem 2rem 5rem;
    background-color: $sec-col;
    margin-bottom: 2rem;

    @include mq($bp-small) {
      display: inline-block;
      width: calc(50% - 1rem);

      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }

    @include mq($bp-med) {
      display: inline-block;
      width: calc(33.333% - 1.333rem);
      margin-right: 2rem;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}


/*============================================================================
SIGNUP PAGE 
============================================================================*/


.form--signup {
  padding: 2rem 2rem 5rem;
  background-color: $sec-col;
  max-width: 52rem;
  margin: 0 auto;

  .form--signup__field {
    background-color: #fff;
    padding: 2rem 1rem; 
    margin-bottom: 2rem;
    input {
      border: none;
    }
  }

}


/*============================================================================
MEMBER SEARCH 
============================================================================*/

.id-card,
.vehicles,
.comments h2,
.comments__post {

  @include mq($bp-small) {
    width: 70%;
    margin: 0 auto 3rem;
  }
}

.id-card,
.vehicles {

  @include mq($bp-large) {
    display: inline-block;
  }
}

.id-card {
  text-align: center;
  background-color: $sec-col;
  padding: 2rem;
  margin-bottom: 3rem;

  @include mq($bp-large) {
    width: 25%;
  }

  img {
    width: 40%;
    height: auto;
    margin-bottom: 2rem;

    @include mq($bp-large) {
      float: initial;
      margin: 0 2rem 2rem 0;
      width: 50%;
    }
  }
}


.vehicles {
  margin-bottom: 3rem;

  @include mq($bp-large) {
    width: 70%;
  }

  li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;

    @include mq($bp-med) {
      width: calc(50% - 1rem);

      &:nth-child(odd) {
        margin-right: 2rem;      
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.comments {
  padding: 0 1rem 1rem;
  background-color: $sec-col;

  .comments__post {
    background-color: #fff;

    img {
      width: 20%;
      height: auto;
    }
    p {
      padding: 1rem;
      padding-left: 20%;
    }
  }
}









