
/* COLORS */

$col-main: hsl(161, 55%, 80%);
$col-light: hsl(52, 15%, 95%);
$col-contr: hsl(0, 100%, 45%);
$col-link: $col-contr; 


/* SCREEN SIZES */

$small: 400px;
$medium: 600px;
$large: 750px;
$xlarge: 900px;