body {
	font-family: $titillium;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 3.2rem;
	font-weight: 900;
	line-height: 3.4rem;
	// letter-spacing: .1rem;
}



/*============================================================================
INDEX 
============================================================================*/


/* WIKING FINDER
============================================================================*/


.wiking-finder {

}

.form-search {


  h2 {


  }

  .form-search__field {
		font-size: 2rem;
		
		label {
			margin-right: 1.5rem;
		}

    input {
    	width: 100%;
    }
  }
}

.results--languettes {

	a {
		color: #fff;
	}

  .languette {
  	font-size: 2rem;
  	font-weight: 300;
  	line-height: 2.4rem;

  	.bold,
  	em {
  		color: $sec-col--dk;
  	}

  	.bold {
			font-weight: 700;
			text-transform: uppercase;
  	}

  	em {
			font-weight: 700;
  	}

  	.lenght {
  		font-weight: 500;
  		color: $action-col;
  	}

  }
}